.footer {
    margin: {
        top: auto;
        bottom: 0;
    }

    padding: 1em .5em;

    border: {
        color: #eee;
        width: 1px;
        top-style: solid;
    }

    background-color: #eee;
}

.logo {
    font-size: 1em;
}