.container {
    position: relative;
    flex:1;
    display: flex;
    flex-flow: column;
    background-color: inherit;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    &>*{
        padding: 0 .5em;
    }
}