.actions {
    display: flex;
    justify-content: space-around;
    background-color: #fbfbfb;
    border-radius: 3rem;
    font-size: small;
    color: #777;

    button {
        flex: 1;
        background: none;

        border: none {
            radius: 50%;
        }

        font-size: inherit;
        color: inherit;
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: .5rem;
        cursor: pointer;
        outline: none;

        &:focus,
        &:hover {
            color: initial;
        }

        svg {
            margin-bottom: .25rem
        }
    }
}