$background-color-ligth: #ffffff;
$color-lightgray: #fbfbfb;
$color-darkgray: #3b3b3b;
$color-lightyellow: #ffffa5;
$color-button-success: $color-lightyellow;
$color-button-default: #ff9800;

$media-query-sx: 400px;
$media-query-md: 600px;
$media-query-lg: 1200px;