@import '../../../styles/globals';

.bookshelves_container {
    position: relative;
    background-color: #f9f9f9;

    @media only screen and (max-width: $media-query-sx) {
        margin: 1rem -.5rem;
        padding: 1rem;
    }

    @media only screen and (min-width: $media-query-sx) {
        margin: 1rem 0;
        padding: 1.5rem;
    }

    padding-bottom: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px 0px 5px -2px #33333352;
    display: flex;
    flex-flow: column;
}

.main_carousel {
    margin: 3rem -.5rem 4rem !important;
    display: block !important;
    position: relative;

    &::before {
        content: ' ';
        position: absolute;
        background: linear-gradient(90deg, var(--main-bg-color) 10%, transparent 100%);
        top: 0;
        left: .5rem;
        bottom: 0;
        z-index: 10;
        width: 2rem;
    }

    &::after {
        content: ' ';
        position: absolute;
        background: linear-gradient(270deg, var(--main-bg-color) 10%, transparent 100%);
        top: 0;
        right: .5rem;
        bottom: 0;
        z-index: 10;
        width: 2rem;
    }

    .carousel_title {
        margin: {
            left: 1.5rem;
            right: 1.5rem;
        }
    }
}

.carousel_container {
    position: relative;

    margin: {
        top: .5rem;
        bottom: 2rem;
    }

    scroll-behavior: smooth;
    overflow-y: auto;

    @media only screen and (min-width: $media-query-sx) {

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background: #c1c0c020;
            border-radius: 2rem;

        }

        &::-webkit-scrollbar-thumb {
            background: #c9c9c950;
            border-radius: 2rem;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #c9c9c9;
        }
    }

    .secondary_carousel {
        width: fit-content;
        display: flex;

        &>li {
            width: 9rem;
            height: auto;
            margin: .5rem;

            &:first-of-type {
                margin-left: 5px;
            }
        }

        &:last-of-type {
            margin-right: 5px;
        }
    }
}


.logo_container {
    margin: 6vw;
    font-size: 2rem;
}