@import '../../../styles/globals';

.btnBack {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    margin: .5rem;
}

.book_container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media only screen and (max-width: $media-query-sx) {
        flex: inherit;
        display: inherit;
        flex-flow: inherit;
    }

    @media only screen and (min-width: $media-query-md) {
        grid-template-areas:
            'userActions userActions'
            'cover info'
            'cover actions'
            'synopsis synopsis'
            'bibliography bibliography'
            'exploreAuthor exploreAuthor' !important;
    }

    @media only screen and (min-width: $media-query-sx) {
        display: grid;
        gap: 2rem;
        grid-template-areas:
            'userActions userActions'
            'cover info'
            'actions actions'
            'synopsis synopsis'
            'bibliography bibliography'
            'exploreAuthor exploreAuthor';
        grid-template-columns: auto 1fr;
    }

    &>* {
        z-index: 1;
    }
}

.cover {
    grid-area: cover;
    width: 100%;

    @media only screen and (max-width: $media-query-sx) {
        z-index: 0;
        height: auto;
        border-radius: .5rem;
        max-width: 12rem;
        transition-delay: 400ms;
        margin: 0 auto;

        &.zoom{
            max-width: 100%;
        }
    }

    @media only screen and (min-width: $media-query-sx) {
        max-width: 128px;
    }

    transition: all 1s ease;
    /* margin: -0.5rem; */
    margin-bottom: 0;
}


.info {
    grid-area: info;
    position: relative;
    z-index: 2;

    @media only screen and (max-width: $media-query-sx) {
        margin: 0 -.5rem;
        padding: 1rem;
    }

    &>div {
        margin: .75em 0;
    }
}



.card {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    //border-top: 1px solid #aaa;

    @media only screen and (min-width: $media-query-sx) {
        padding: 1rem;
    }

    h2 {
        font-size: 1.25em;
        font-weight: normal;
        margin-bottom: 2rem;
    }
}



.userActionsContainer {
    grid-area: userActions;
    display: flex;

    @media only screen and (max-width: $media-query-sx) {
        position: fixed;
        justify-content: space-evenly;
        background-color: var(--main-bg-color);
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
    }

    @media only screen and (min-width: $media-query-sx) {
        padding-bottom: .5rem;
        border-bottom: 1px solid #dfdfdf;
    }

    button {
        border: none;
        background: none;
        padding: .5rem;
        font-size: 1.5rem;
        display: inline-flex;

        @media only screen and (min-width: $media-query-sx) {
            &:first-of-type {
                margin-right: auto;
            }
        }
    }
}

.actionsContainer {
    grid-area: actions;
    display: flex;

    @media only screen and (max-width: $media-query-sx) {
        justify-content: space-evenly;
        margin: 0 -.5rem;
        padding: 1rem 0 2rem;
    }

    @media only screen and (min-width: $media-query-sx) {
        button+button {
            margin-left: 2rem;
        }
    }
}

.synopsis {
    grid-area: synopsis;
}

.bibliography {
    grid-area: bibliography;
    z-index: 2;
}

.explore {
    grid-area: exploreAuthor;
    margin: 0;
}