.btn {
    font-size: 25pt;
    height: 23pt;
    width: 23pt;
    border: none;
    background: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff66;
    color: #222;
}