.header {
    display: flex;
    padding: 1em .5em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--main-bg-color);
    margin-bottom: 2rem;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: .5em;
    text-transform: capitalize;
}