.header {
    display: flex;
    padding: 1em .5em;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: khaki;
}

.h1 {
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    align-items: center;
}