.search_field_background {
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 0;
    height: 6.5rem;
}

.search_field_container {
    margin: 0;
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.subtitle {
    padding: 1.5em 1rem 3rem;
}